<template>
  <div>
    <v-card :flat="true" border v-if="loading">
      <v-card-text class="text-center">
        <v-progress-circular color="primary" indeterminate="true"></v-progress-circular>
        <strong class="ml-5">Stahuji otázky...</strong>
      </v-card-text>
    </v-card>
    <v-row v-else>
      <v-col cols="12" class="text-center mt-5">
        <h1>{{ this.collection.name }}</h1>
        <v-btn :flat="true" prepend-icon="mdi-arrow-left" to="/">Zpět na seznam poznávaček</v-btn>
      </v-col>
      <v-col cols="12" class="text-center pt-5 pb-10">
        <v-btn :flat="true" color="primary" size="x-large" class="mr-5" :disabled="this.collection.questions.length == 0" :to="`/test/${collection.id}`">Spustit zkoušení</v-btn>
        <v-dialog v-model="this.newQuestionDialog.show">
          <template v-slot:activator="{props}">
            <v-btn :flat="true" color="grey-lighten-3" size="x-large" @click="this.newQuestionDialog.show = true">Přidat novou kartičku</v-btn>
          </template>
          <v-card width="500">
            <v-card-title>Přidat novou kartičku</v-card-title>
            <v-card-text>
              <v-text-field color="primary" variant="outlined" label="Odpověď" v-model="this.newQuestionDialog.answer"></v-text-field>
              <v-file-input color="primary" variant="outlined" label="Obrázek" accept="image/png, image/jpeg" v-model="this.newQuestionDialog.file"></v-file-input>
            </v-card-text>
            <v-divider/>
            <v-card-actions>
              <v-btn color="primary" block="true" @click="createNewQuestion()">Přidat kartičku</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
      <v-col cols="12" md="6" lg="4" v-for="(question, i) in this.collection.questions" :key="i">
        <v-card border="true" hover="true">
          <v-img :src="question.image" cover="true" height="200px"/>
          <v-divider/>
          <v-card-title>
            {{ question.answer }}
          </v-card-title>
          <v-divider/>
          <v-card-text>
            <v-progress-linear v-if="question.viewsCount > 0" color="primary" bg-color="primary" :max="question.viewsCount" :model-value="question.successesCount"></v-progress-linear>
            <span v-else>Zatím žádné skóre</span>
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <v-btn color="primary" @click="this.resetQuestionProgress(question.id)">Resetovat</v-btn>
            <v-btn color="error" @click="() => { this.deleteQuestionDialog = { show: true, question: question.id } }">Smazat</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="this.deleteQuestionDialog.show">
      <v-card width="400">
        <v-card-title>
          Smazat otázku?
        </v-card-title>
        <v-divider/>
        <v-card-actions>
          <v-btn color="primary" @click="this.deleteQuestionDialog.show = false">Storno</v-btn>
          <v-btn color="error" @click="deleteQuestion(this.deleteQuestionDialog.question)">Smazat</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {defineComponent} from 'vue';
import {createQuestion, deleteQuestion, fetchQuestionsCollection, resetQuestionProgress} from "../api";

// Components
export default defineComponent({
  name: 'CollectionView',
  data: () => ({
    loading: true,
    collection: null,
    newQuestionDialog: {
      show: false,
      answer: "",
      file: ""
    },
    deleteQuestionDialog: {
      show: false,
      question: ""
    }
  }),
  async mounted() {
    await this.loadQuestions();
  },
  methods: {
    async loadQuestions() {
      this.loading = true;
      this.collection = await fetchQuestionsCollection(this.$route.params.id);
      this.deleteQuestionDialog.show = false;
      this.loading = false;

      if (this.collection == null) {
        await this.$router.replace("/");
      }
    },
    async createNewQuestion() {
      await createQuestion(
          this.$route.params.id,
          this.newQuestionDialog.answer,
          this.newQuestionDialog.file[0]
      );

      this.newQuestionDialog.answer = "";
      this.newQuestionDialog.file = "";
      this.newQuestionDialog.show = false;

      await this.loadQuestions();
    },
    async resetQuestionProgress(id) {
      await resetQuestionProgress(id);
      await this.loadQuestions();
    },
    async deleteQuestion(id) {
      await deleteQuestion(id);
      await this.loadQuestions();
    }
  }
});
</script>
