<template>
  <div>
    <v-card :flat="true" border v-if="loading">
      <v-card-text class="text-center">
        <v-progress-circular color="primary" indeterminate="true"></v-progress-circular>
        <strong class="ml-5">Stahuji poznávačky...</strong>
      </v-card-text>
    </v-card>
    <v-row v-else>
      <v-col cols="12" class="text-center py-10">
        <v-dialog v-model="this.newCollectionDialog.show">
          <template v-slot:activator="{props}">
            <v-btn :flat="true" color="primary" size="x-large" @click="showNewCollectionDialog()">Vytvořit novou poznávačku</v-btn>
          </template>
          <v-card width="500">
            <v-card-title>Přidat novou poznávačku</v-card-title>
            <v-card-text>
              <v-text-field color="primary" variant="outlined" label="Název poznávačky" v-model="this.newCollectionDialog.name"></v-text-field>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn color="primary" block="true" :disabled="!this.newCollectionDialog.name.length > 0" @click="createNewCollection()">Vytvořit</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
      <v-col cols="12" md="6" lg="4" v-for="(collection, i) in this.collections" :key="i">
        <v-card border hover="true" :to="`/collection/${collection.id}`">
          <v-img v-if="collection.image != null" :src="collection.image" cover="true" height="200px"/>
          <div v-else style="height: 200px" class="bg-grey-lighten-3"/>
          <v-divider/>
          <v-card-title>
            {{ collection.name }}
            <span class="text-grey mx-3">&bull;</span>
            <span class="text-grey">{{ collection.questions }} kartiček</span>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {defineComponent} from 'vue';
import {createQuestionsCollection, fetchQuestionsCollections} from "../api";

// Components
export default defineComponent({
  name: 'HomeView',
  data: () => ({
    loading: true,
    collections: [],
    newCollectionDialog: {
      show: false,
      name: ""
    }
  }),
  async mounted() {
    await this.loadCollections();
  },
  methods: {
    async loadCollections() {
      this.loading = true;
      this.collections = await fetchQuestionsCollections();
      this.loading = false;
    },
    showNewCollectionDialog() {
      this.newCollectionDialog.show = true;
    },
    async createNewCollection() {
      if (this.newCollectionDialog.name.length === 0) {
        return;
      }

      await createQuestionsCollection(this.newCollectionDialog.name);

      this.newCollectionDialog.name = "";
      this.newCollectionDialog.show = false;

      await this.loadCollections();
    }
  }
});
</script>
