<template>
  <div>
    <v-card :flat="true" border v-if="loading">
      <v-card-text class="text-center">
        <v-progress-circular color="primary" indeterminate="true"></v-progress-circular>
        <strong class="ml-5">Načítám otázku...</strong>
      </v-card-text>
    </v-card>
    <v-row v-else class="mt-3">
      <v-col cols="12" class="text-center">
        <v-btn :flat="true" prepend-icon="mdi-arrow-left" to="/">Zpět na seznam poznávaček</v-btn>
      </v-col>
      <v-col cols="12" md="8" lg="6" xl="4" offset-md="2" offset-lg="3" offset-xl="4" v-if="this.question != null">
        <v-card>
          <div class="text-center">
          <img :src="this.question.image" style="max-height: 40vh; max-width: 100%"/>
          </div>
          <v-divider/>
          <v-card-text>
            <v-progress-linear v-if="question.viewsCount > 0" height="10" :rounded="true" color="primary" bg-opacity="1" bg-color="grey" :max="question.viewsCount" :model-value="question.successesCount"></v-progress-linear>
            <span v-else>Zatím žádné skóre</span>
          </v-card-text>
          <v-divider/>
          <v-card-text class="text-center">
            <v-dialog v-model="this.questionAnswerDialog.show">
              <template v-slot:activator="{props}">
                <v-btn :flat="true" color="primary" size="x-large" @click="this.questionAnswerDialog.show = true">Zobrazit
                  odpověď
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-center">
                  {{ this.question.answer }}
                </v-card-title>
                <v-divider/>
                <v-card-actions>
                  <v-btn color="primary" @click="answerQuestion(true)">Správně</v-btn>
                  <v-btn color="error" @click="answerQuestion(false)">Špatně</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {answerQuestion, fetchNextQuestion, fetchQuestionsCollection} from "../api";

export default {
  name: "TestingView",
  data: () => ({
    loading: true,
    collection: null,
    question: null,
    questionAnswerDialog: {
      show: false
    }
  }),
  async mounted() {
    await this.loadCollection();
    await this.loadNextQuestion();
  },
  methods: {
    async loadCollection() {
      this.loading = true;
      this.collection = await fetchQuestionsCollection(this.$route.params.id);
      this.loading = false;

      if (this.collection == null) {
        await this.$router.replace("/");
      }
    },
    async loadNextQuestion() {
      this.loading = true;
      this.question = await fetchNextQuestion(this.$route.params.id);
      this.loading = false;
    },
    async answerQuestion(correct) {
      this.loading = true;
      this.questionAnswerDialog.show = false;
      this.question = await answerQuestion(this.$route.params.id, this.question.id, correct);
      this.loading = false;
    }
  }
}
</script>
