<template>
  <v-app>
    <v-app-bar color="primary" class="text-center" flat="true">
      <v-app-bar-title class="text-white font-weight-black">Eliška poznávačka</v-app-bar-title>
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
}
</script>
